body {
  background-color: #272044;
  font-family: "Jost", serif;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(../images/Janelle_Monae_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 320px 0;
}
header h1 {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 1;
  margin: 10px 0;
}
header h2 {
  font-family: "Jost", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  display: inline-block;
  font-family: "Jost", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #d153af;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 40px;
  margin-top: 20px;
}
footer {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(../images/janelle-monae-footer-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 20px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul {
  padding: 0;
}
footer a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
}
main h2 {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-family: "Bebas Neue", serif;
  font-size: 42px;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #000;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
section {
  margin: 0 auto;
  padding: 40px 100px;
}

.btn {
  display: block;
  font-family: "Jost", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #d153af;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 12px 24px;
  border-radius: 40px;
  margin-top: 20px;
}
.card {
  background: #fff;
  margin: 30px 0;
}
.card p {
  color: #000;
}
.card-body {
  padding: 30px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.lyrics {
  line-height: 1;
}
.main-image {
  max-width: 100%;
}
.section-two {
  background-color: #fff;
}
.section-three {
  background-color: #000;
  color: #fff;
  padding: 50px 40px;
}
.section-three-images {
  max-width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}
@media (max-width: 960px) {
  footer {
    padding-bottom: 0;
  }
  header {
    padding: 120px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 18px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    display: inline-block;
    font-family: "Jost", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #d153af;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 40px;
    margin-top: 20px;
  }
  main h2,
  main h3,
  main h4,
  main h5,
  main p {
    text-align: center;
    margin: 0 20px;
  }
  section {
    padding: 40px 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .main-image {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
  }
  .btn {
    display: block;
    font-family: "Jost", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #d153af;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 40px;
    margin-top: 20px;
  }
}
